[Unit]
Description=Apache NiFi
After=network.target

[Service]
Type=forking
User=ec2-user
Group=ec2-user
ExecStart=/opt/nifi/bin/nifi-start.sh
ExecStop=/opt/nifi/bin/nifi.sh stop
ExecReload=/opt/nifi/bin/nifi.sh restart
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target